.version {
    color: #888;
    font-size: 75%;
}

.banner {
    background-color: darkkhaki;
    padding: 5px 0;

    .title {
        font-size: 30px;
        color: honeydew;
        margin-right: 10px;
    }
}
.favorite {
    float: right;
}
