.version {
    color: #888;
    font-size: 75%;
}
.banner {
    background-color: darkkhaki;
    padding: 5px 0;
}
.banner .title {
    font-size: 30px;
    color: honeydew;
    margin-right: 10px;
}
.favorite {
    float: right;
}
.attendance {
    border: 1px solid #68b0cc;
    margin: 5px 0;
    padding: 5px;
    width: 200px;
    border-radius: 5px 5px;
}
