<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Rich Preview -->
    <title>Summer Rides 2018</title>
    <meta name="description" content="Rides we do in the summer time" />
    <meta property="og:title" content="Summer Rides 2018" />
    <meta property="og:description" content="Rides we do in the summer time" />
    <meta property="og:image" content="https://richpreview.com/richpreview.png" />
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon" />
    <!-- <link rel="icon" href="./images/favicon.png" type="image/png"> -->

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    

    <link rel="stylesheet" href="./css/site.css">
</head>
<body>
<div class="banner z-depth-2">
    <div class="container">
        <span class='title'>Summer 2018 Rides</span>
        <span class='version'>v0.2</span>
    </div>        
</div>
<div class="container">
   
    <div id="app">
            <!-- <h3>{{title}}</h3> -->
            <!-- <span class='version'>v0.2</span> -->
            
            <ul>
                <li v-for="event in rides">
                <div class="col s12 m6 l6">
                    <div v-bind:class="[ event.IsActive ? 'blue-grey' : 'grey' ]" class="card lighten-2 z-depth-1">                    
                        <div class="card-content white-text">
                            <span class="card-title">{{event.Name}}</span>
                            <span class="favorite z-dept-1" v-if="event.IsFavorite"><i class="material-icons red-text">favorite</i></span>
                            <p>{{event.Date}}</p>
                            <div v-if="event.Riders" class="attendance z-depth-2 grey darken-2">
                                <p><i class="material-icons lime-text tooltipped" data-position="top" data-tooltip="Riders">group</i> {{event.Riders}}</p>                            
                                <p><i class="material-icons blue-text tooltipped" data-position="top" data-tooltip="Target Miles">directions_bike</i> {{event.TargetMiles}} miles</p>
                            </div>
                        </div>
                        <div class="card-action">
                            <a v-bind:href="event.WebsiteUrl" target="_blank">Website</a>
                            <a v-bind:href="event.RegisterUrl" target="_blank">Register</a>
                        </div>
                    </div>    
                </div>
            </li>
        </ul>   
           
    </div>

</div>   


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <script src="./js/build/bundle.js"></script>

    <script>
        // var app = new Vue({
        //         el: '#app',
        //         data: {
        //             title: 'Summer 2018 Rides',
        //             rides: []
        //         },
        //         mounted() {
        //                 fetch("https://zxenlogics.github.io/src/events.json")
        //                 .then(response => {
        //                     return response.json();                            
        //                 })
        //                 .then(events => {
        //                     events.forEach(event => {
        //                         this.rides.push(event);
        //                     });
        //                 });
        //             }
        //     });



        /**
         * @desc Pure js alternative to the jQuery.ready function
         * @param {any} fn Function to execute on DOM loaded
         */
        // function onReady(fn) {
        //     //$(fn);
        //     if (document.readyState !== 'loading'){
        //         fn();
        //     } else {
        //         document.addEventListener('DOMContentLoaded', fn);
        //     }
        // }        


        // onReady(function () {
        //         console.log('[onReady]')
        //         var options = {};
        //         var elems = document.querySelectorAll('.tooltipped');
        //         console.log('[onReady] ' + elems.length); 
        //         var instances = M.Tooltip.init(elems, options);
        //     });

    </script>    

</body>
</html>



